package health

import "github.com/ekediala/template/templ/components/shell"

templ comp() {
	<h1 class="text-3xl font-bold underline">
		OK
	</h1>
}

templ Health() {
	@shell.Shell("Health", comp())
}
